{% extends "base.html" %}

{% block title %}Tentang{% endblock %}
{% block subtitle %}Tentang Aplikasi{% endblock %}
{% block nav_class %}single{% endblock %}

{% block nav_items %}
    <a class="nav-item" href="{{ url_for('main.upload_dokumen') }}">Unggah</a>
    {% if session.get("user_id") %}
    <a class="nav-item" href="{{ url_for('riwayat.riwayat_page') }}">Riwayat</a>
    {% endif %}
    <a class="nav-item active" href="{{ url_for('main.tentang_page') }}">Tentang Aplikasi</a>
{% endblock %}

{% block content %}
    <section class="workspace">
        <div class="result-card">
            <div class="result-line short"></div>
            <div class="result-line"></div>
            <div class="result-line"></div>
        </div>
    </section>
{% endblock %}
